<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head>
        <title>About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="menu">
            | <h:outputLink value="index.xhtml?p=1">Home</h:outputLink> | 
            <h:outputLink value="about_me.xhtml">O mnie</h:outputLink> | 
            <h:outputLink value="guest_book.xhtml?p=3">Xięga gości</h:outputLink> | 
        </div>
        <h1>O mnie</h1>
    </body>
</html>
