<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="menu">
            | <h:outputLink value="index.xhtml">Home</h:outputLink> | 
            <h:outputLink value="about_me.xhtml">O mnie</h:outputLink> | 
            <h:outputLink value="guest_book.xhtml">Xięga gości</h:outputLink> | 
        </div>
        <h1>Xięga gości</h1>
        <h:form>
            <p>Napisz coś od siebie: <br/><h:inputTextarea id="entry" value="#{form.entry}"></h:inputTextarea></p>
            <p>Podaj nick: <br/><h:inputText id="nick" value="#{form.nick}"></h:inputText></p>
            <p><h:commandButton action="#{form.save}" value="Zapisz"/></p>
        </h:form>
        
        
    </body>
</html>
