<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello You!<br/>
        - from Facelets
        <div class="menu">
            | <a href="index.xhtml">Home</a> | 
            <a href="about_me.xhtml">O mnie</a> | 
            <a href="guest_book.xhtml">Xięga gości</a> | 
        </div>
        <h1>Home</h1>
        
        
        
        
        
        
        <h:outputText value="#{applicationController.version}"/>
    </h:body>
</html>

